
/*
header {
  &.header {
    background: white;
    line-height: 3rem;
    box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.2);

    .menu {
      padding: 0 1rem;
      cursor: pointer;
      transition: $simple-transition;
      &:hover {
        background: darkblue;
        transition: $simple-transition
      }
      span {
        line-height: 3rem;
      }
    }

    .logo {
      padding: 0 1rem;
    }
  }
}
*/